:root {
  --white: #f0f0f0;
  --pink: #ffafcc;
  --purple: #cdb4db;
  --blue: #a2d2ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sono", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  word-spacing: -5px;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--white);
  word-spacing: -5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #6f1d1b;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--white);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  word-spacing: -5px;
}

h1 {
  font-size: 6rem;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
  word-spacing: -5px;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--pink);
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--purple);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--white);
}

h2 {
  font-size: 4.2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project {
  background: #023e8a;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

img {
  display: block;
  width: 100%;
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  font-weight: 500;
}

.code {
  color: var(--blue);
  transition: color 0.3s ease-out;
}

.btn-show-all {
  font-size: 2rem;
  background: #023e8a;
  transition: background 0.3s ease-out;
  text-transform: uppercase;
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #3d405b;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
  font-size: 2.5rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transform: scale(1.1s);
}

a:hover {
    transform:scale(1.1s);
    background-color: #ffafcc;
    color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 2rem;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--purple);
}
